

body {
    font-family: 'Times New Roman', serif;
    background-color: #3e3d54; /* Dark purple background */
    color: #3f3838; /* Light grey text for readability */
    text-align: center;
}

header, footer {
    background-color: #292741; /* Slightly darker background for header/footer */
    color: #fff;
    padding: 20px;
}

h1 {
    font-family: 'Papyrus', fantasy; /* Script-like font for headers */
    color: #f4e041; /* Gold color for headings */
}

nav ul {
    list-style-type: none;
    padding: 20px;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #f4e041; /* Gold color */
    font-weight: bold;
}

section {
    padding: 20px;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.1); /* Slightly transparent */
    border: 2px solid #f4e041; /* Gold border */
}

footer {
    font-size: 0.75em;
    padding-top: 10px;
}


table {
    border: 1px solid black; /* Assuming a simple border is needed */
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse; /* Optional: for better border appearance */
}

/* Styles for table headers */
th {
    background-color: #f4f4f4; /* Light grey background for headers */
    border: 1px solid #ddd; /* Light borders for the cells */
    padding: 8px; /* Padding for content within cells */
}

/* Styles for table cells */
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left; /* Align text to left, modify as needed */
}

/* For the potion img to be floating */
.floating { 
    animation: float 3s ease-in-out infinite;
    display: block;
    margin: auto;
    margin-top: 50px;
    width:20%; /* Adjust based on your preference */
  }

  @keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
  }


footer {
    background: #333;
    color: white;
    text-align: center;
    position: static;
    bottom: 0;
    top: 100;
    width: 100%;
    padding: 10px 10px;
}

footer > ul {
    list-style-type: none;
}

footer > ul > li {
    display: inline;
    margin-right: 10px;
}

footer > ul > li > a[href] {
    color: #00FFFF;
    text-decoration: none;
    
}

#content {
    margin: 20px;
    padding: 20px;
    background: white;
    min-height: 300px;
}
