body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

header {
    background: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

table {
    border: 1px solid black; /* Assuming a simple border is needed */
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse; /* Optional: for better border appearance */
}

/* Styles for table headers */
th {
    background-color: #f4f4f4; /* Light grey background for headers */
    border: 1px solid #ddd; /* Light borders for the cells */
    padding: 8px; /* Padding for content within cells */
}

/* Styles for table cells */
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left; /* Align text to left, modify as needed */
}






footer {
    background: #333;
    color: white;
    text-align: center;
    position: static;
    bottom: 0;
    top: 100;
    width: 100%;
    padding: 10px 10px;
}

footer > ul {
    list-style-type: none;
}

footer > ul > li {
    display: inline;
    margin-right: 10px;
}

footer > ul > li > a[href] {
    color: #00FFFF;
    text-decoration: none;
    
}

#content {
    margin: 20px;
    padding: 20px;
    background: white;
    min-height: 300px;
}
